body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  margin: 0;
}

main {
  flex: 1; 
  margin: 0;
}

.footer {
  box-sizing: border-box;
  margin: 0;
  background: rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  color: #000000;
  text-align: center;
  padding: 1rem;
  width: 100%;
}