.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
/* uh this is same with natsci.css just combine or something. ill do it on sunday or monday busy tommorow -bisnar */
