body {
    margin: 0;
    padding-top: 80px;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/el_nido.avif');
    background-size: cover;       
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
}
.beach {
    background-image: url('../images/el_nido.avif');
    background-size: cover;       
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
}
.mountain {
    background-image: url('../images/mayon1.jpg');
    background-size: cover;       
    background-position: center; 
    background-attachment: fixed; 
    background-repeat: no-repeat;
}
.content {
    max-width: 800px;
    margin: 130px auto;
    padding: 20px;
    background-color: #ffffff;
    background: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: justify;
}
.sub-content {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  background-size: cover;
  background-attachment: fixed;
  margin-top: 35vh;
}

.detail-section {
  min-height: 100vh; 
  padding: 80px 10%;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  border-top: 2px solid rgba(123, 182, 97, 0.3);
}

.detail-content h2 {
  font-size: 3rem;
  color: #7BB661;
  margin-bottom: 30px;
}

.detail-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.text-block {
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: justify;
}

.image-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-block img {
  width: 100%;
  max-width: 600px; 
  height: auto;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}